/* hsesucks.ml, chirkorocks.ml, 2022 */

@font-face {
	font-family: 'FuturaPTWebDemi';
	font-display: swap;
	src: local('Futura PT Web Demi'),
		 local('FuturaPTWebDemi'),
		 url('fonts/futura.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@media only screen and (min-width: 600px) {
	body {
		font-size: 1.7em;
	}
}

body {
	font-family: 'FuturaPTWebDemi', 'Helvetica Neue', 'Arial', sans-serif;
}

body, h1, p {
	margin: 0;
}

p {
	margin-bottom: 32px;
}

main {
	width: 100%;
}

section {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	height: 100vh;
}

img {
	margin: auto;
	width: 256px;
	max-width: 90%;
	max-height: 90vh;
}
